:root {
    --primary-color: #ff5252;
    --dark-color: #0000001a;
    --black-color: #000;
    --grey-color: #333;
    --subtitle-color: #999;
    --background-color: #f8f8f8;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--background-color);
}

.return-button {
    outline: none;
    position: fixed;
    top: 20px;
    left: 20px;
    padding: 10px 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    font-size: 16px;
    cursor: pointer;
    z-index: 1000;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s;
}

.return-button img {
    width: 30px;
    height: 30px;
}

.return-button:hover {
    box-shadow: 0 4px 8px var(--dark-color);
    transform: translateY(-2px);
}

/* Popup Styles */
.popup {
    position: fixed;
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.6); /* Black with opacity */
    backdrop-filter: blur(5px); /* Blur background */
    display: none; /* Initially invisible */
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
}

.popup-content {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid var(--primary-color);
    width: 80%; /* Could be more or less, depending on screen size */
    max-width: 400px; /* Max width for the popup */
    text-align: center;
    box-shadow: 0 4px 8px var(--dark-color);
    animation: fadeIn 0.3s;
}

.popup-content p {
    font-size: 18px;
    color: var(--grey-color);
    margin-top: 15px;
    margin-bottom: 20px;
}

.popup-button {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.popup-button:hover {
    box-shadow: 0 4px 8px var(--dark-color);
    transform: translateY(-2px);
}

/* Keyframe animation for fadeIn effect */
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

.successImage {
    max-width: 100%;
    height: auto;
}
