/* Contenedor principal */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: var(--background-color);
    border-radius: 10px;
    box-shadow: 0 8px 16px var(--dark-color);
}

/* Cada sección */
.section {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px var(--dark-color);
    text-align: center;
    min-height: 300px; /* Ajusta según el tamaño deseado */
    position: relative;
}

/* Título de cada sección */
.section-title {
    font-size: 24px;
    margin-bottom: 25px; /* Reduce the padding between title and hr */
    color: var(--primary-color);
    position: relative;
}

/* Contenedores de entrada */
.input-container {
    margin-bottom: 15px; /* Adjusted for better spacing */
    position: relative;
    width: 100%;
}

/* Etiquetas */
.label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-weight: bold;
    display: none; /* Ocultar etiquetas */
}

form {
    min-width: 300px;
}

/* Entradas del formulario */
.form-input {
    width: 100%; /* Make inputs take the full width */
    padding: 12px;
    font-size: 16px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    box-sizing: border-box;
    outline: none;
    color: var(--grey-color);
}

.form-input::placeholder {
    color: var(--subtitle-color);
}

.form-input:focus {
    border-color: var(--dark-color);
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

/* Botón del formulario */
.form-button {
    padding: 12px 24px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, box-shadow 0.3s, transform 0.3s;
    outline: none;
    background-color: var(--primary-color);
    color: var(--background-color);
}

.form-button:hover {
    box-shadow: 0 4px 8px var(--dark-color);
    transform: translateY(-2px);
}

.form-button:active {
    transform: translateY(2px);
}

/* Texto de registro */
.signup-text {
    font-size: 14px;
    color: var(--subtitle-color);
    margin-top: 20px;
}

.signup-text a {
    color: var(--primary-color);
    text-decoration: none;
}

.signup-text a:hover {
    cursor: pointer;
}

/* Mensaje de error */
#error-message {
    font-size: 14px;
    text-align: center;
    color: red;
    display: block;
    margin-bottom: 20px;
}

/* Grupo de botones */
.button-group {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.button-group input[type="radio"] {
    display: none;
}

.button-group label {
    padding: 10px 20px;
    margin: 0 5px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.button-group input[type="radio"]:checked + label {
    background-color: var(--primary-color);
    color: var(--background-color);
}

/* Tabla de usuarios */
.usuarios-table-wrapper {
    max-height: 200px; /* Altura suficiente para 4 filas */
    overflow-y: auto;
}

.usuarios-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.usuarios-table th, .usuarios-table td {
    padding: 12px;
    border: 1px solid var(--subtitle-color);
    text-align: left;
}

.usuarios-table th {
    background-color: var(--primary-color);
    color: var(--background-color);
}

.usuarios-table td {
    color: var(--grey-color);
}

.usuarios-table-wrapper::-webkit-scrollbar {
    width: 8px;
}

.usuarios-table-wrapper::-webkit-scrollbar-track {
    background: var(--background-color);
}

.usuarios-table-wrapper::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}
